@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Leap Year Checker</h1>
  <h4>Enter a year to check whether a year is a leap year or not</h4>
  <form action="leap-year" method="get">
    <label for="input-year">Enter a year:</label>
    <input id="input-year" name="input-year" type="text">
    <button id="submit" class="btn btn-primary btn-lg" type="submit">Check!</button>
  </form>

</div>
